<div class="jumbotron hidden">
  <h1>About</h1>
  <p class="al-left">We are a small team of programmers who are passionate about technology and teaching. We want the next Facebook to come out of India. We believe that engineering college students in India hold a huge potential and given the right direction they can do wonders.</p>
  <p class="al-left">We are not doing this for money. We are doing this to share and build our knowledge and to generate the next generation of awesome programmers from India.</p>
</div>