<div class="jumbotron hidden">
  <h1>Learn Ruby, JavaScript and Java</h1>
  <p class="lead">Learn technologies that will not only get you a job but help you build a successful career in programming</p>
  <a class="btn btn-large btn-success" href="#/signup">Sign up today</a>
</div>