<div class="jumbotron hidden">
  <h3>Thank you for your interest. Please submit the form below -</h3>
  <form id="signup-form">
    <table class="center">
      <tr><td><input type="text" placeholder="Name*" id="user-name"></tr></td>
      <tr><input type="text" placeholder="Email*" id="user-email"></tr></td>
      <tr><td><textarea rows="4" name="Comments" placeholder="About You / Comments" id="user-comments"></textarea></tr></td>
      <tr><td><input type="submit" class="btn btn-success" value="Submit"></tr></td>
    <table>
  </form>
</div>